* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #2e0249;
}

.main {
  padding: 64px;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  flex: 1;
}



p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
