---
import Layout from '../layouts/Layout.astro';
import Info from '../components/Contact-info.astro';
import Form from '../components/Contact-form.astro'
---

<Layout title="Contact page">

	<div class="main">
	<Info />
 <Form />
	</div>
  
</Layout>


